
.custom-list-a{
    background-color: rgb(11, 107, 136);
     border-color: rgb(11, 107, 136);
     color: whitesmoke;
     
     
}

body{
    
    font-family: 'Roboto', sans-serif;
}

.custom-color-info{
    background-color: rgb(11, 107, 136);
     color: whitesmoke;
     
}

.custom-bg{
    background-color:rgb(245, 241, 241); 
}

.p-top{
    padding-top: 10%;
}
.me{
    font-family: 'Quicksand', sans-serif;
}
/*------animacion items navbar-------*/

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}